@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
    --primary-bg-clr: #121213;
    --secondary-bg-clr: #3a3a3c;

    --tile-correct-clr: #538d4e;
    --tile-wrong-clr: #3a3a3c;
    --tile-wrongPlace-clr: #b59f3b;

    --key-bg-clr: #818384;

    --fg-clr: #fff;
    --hover-fg-clr: #000;

    --tile-with-text-clr: #565758;

    --tile-width: unset;

    --alert-fg-clr: #000;
    --alert-bg-clr: #ffffff95;
}

* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;

    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    overflow: hidden;

    background-color: var(--primary-bg-clr);
}

/* -> hover media query */

@media (hover: hover) {
    .settings-button:hover {
        transition-duration: 500ms;
        transform: rotate(180deg) scale(1.1);
        cursor: pointer;
    }

    .keyboard-key:hover {
        font-size: 1.2em;
    }

    .keyboard-key:hover .material-symbols-outlined {
        transform: scale(1.2);
    }

    .keyboard-key:hover,
    .keyboard-key:hover .material-symbols-outlined {
        transition-duration: 500ms;
        color: var(--hover-fg-clr);
        cursor: pointer;
    }
}

/* -> outer container  */

.container {
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
}

/* -> header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding: 0.8em 0;
    border-bottom: 3px solid var(--secondary-bg-clr);

    color: var(--fg-clr);
}

.header-container .header-title,
.header-container .logo-wrapper,
.header-container .settings-button {
    flex: 1;
    text-align: center;
}

.logo {
    max-height: 4em;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
}

.header-title h1,
.header-title h2 {
    white-space: nowrap;
    margin: 0;
}

.header-title h1 {
    font-size: 2.5em;
    font-weight: 500;
}

.header-title h2 {
    font-size: 1.2em;
    font-weight: 200;
}

/* -> body container */

.body-container {
    height: 100%;

    position: relative;
    top: 0;
    left: 0;

    padding: 2em 0;

    display: flex;
    justify-content: stretch;
    align-items: center;
    align-content: stretch;
    flex-flow: column nowrap;
    gap: 1em;
}

.board-container {
    height: 100%;

    display: grid;
    grid-gap: 5px;
}

/* -> tiles */

.tile {
    font-size: calc(var(--tile-width) * 0.5);
    overflow: hidden;

    height: 100%;
    min-width: 0;
    min-height: 0;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    border: 3px solid;
}

.tile-with-text {
    color: var(--fg-clr);

    border-color: var(--tile-with-text-clr);
    animation: tile-pulse-out 50ms linear;
}

.tile-without-text {
    color: transparent;

    border-color: var(--secondary-bg-clr);
    animation: tile-pulse-in 50ms linear;
}

.tile-correct, .tile-wrongPlace, .tile-wrong {
    animation: tile-flip 500ms linear;
}

.tile-correct {
    background-color: var(--tile-correct-clr);
    border-color: var(--tile-correct-clr);
}

.tile-wrongPlace {
    background-color: var(--tile-wrongPlace-clr);
    border-color: var(--tile-wrongPlace-clr);
}

.tile-wrong {
    background-color: var(--tile-wrong-clr);
    border-color: var(--tile-wrong-clr);
}




@keyframes tile-pulse-out {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes tile-pulse-in {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

/* -> keyboard */

.keyboard-container {
    align-self: stretch;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    flex-flow: column nowrap;

    margin: 0 1em;

    touch-action: none;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row nowrap;
}

.keyboard-row,
.keyboard-container {
    gap: 4px;
}

.keyboard-key {
    max-width: 3.5rem;
    height: 3.5rem;

    background-color: var(--key-bg-clr);
    color: var(--fg-clr);
    font-size: 1.125em;
    font-weight: 300;
    flex: 1 1 auto;

    padding: 1rem 0;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
}

.keyboard-key-more-span {
    max-width: 5rem;
    flex: 2 0 auto;
}

.alerts-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 1em;

    pointer-events: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-flow: column nowrap;

    gap: 1em;
}

.alert {
    width: 20em;
    max-width: 50vw;
    z-index: 2;

    background-color: var(--alert-bg-clr);
    color: var(--alert-fg-clr);
    font-weight: 900;

    padding: 1em 2em;
    border-radius: 10px;
    
    text-align: center;
    white-space: nowrap;
    
}